//-the data comes here
-
    var header="#inspiration sources"
    var sourceList=[
        "asset/image/sources/youtube.png", 
        "asset/image/sources/github.jpg", 
        "asset/image/sources/stackoverflow.png", 
        "asset/image/sources/codetap.png"
    ]

//-the view comes here
#inspiration
.inspiration
    .inspiration__header=header
    .inspiration__list
       each source in sourceList
            .source__image
                img(src=source)