$color-white: #fff;
$color-killarney: #336340;
$color-bay-leaf: #86AD90;
$color-maroon-flush: #B5216B;
$color-scarlet-gum: #56115C;
$color-magic-mint: #A7F1C6;
$color-malachite: #17EE72;
$color-ocean-green: #48AD73;
$color-salem: #086831;
