.what-i-can-do__header{
    @extend %header;
    color: $color-bay-leaf;
}

.what-i-can-do{
    background-color: $color-bon-jour;
}

.what-i-can-do__title{
    color: $color-scarlet-gum;
    text-align: center;
    padding: 1rem;
    font-size: 2.5rem;
}

.what-i-can-do__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.what-i-can-do__skill{
    padding: 1rem;
    border: 0.1rem solid $color-maroon-flush;
    margin: 0.3rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    white-space: nowrap;
}